<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculo de IMC</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1><a href="#">Como funciona o cálculo de IMC?</a></h1>
        <p>
            O Índice de Massa Corporal (IMC) é uma medida simples utilizada para avaliar se uma pessoa está com peso saudável, abaixo do peso ou acima do peso. É uma relação entre o peso e a altura de um indivíduo.
        </p>
        <h2>Fórmula do IMC</h2>
        <p>
            Para calcular o IMC, utiliza-se a seguinte fórmula:
            <br/>
            Peso(kg) * Altura (m)²
        </p>
        <h2>Classificação do IMC</h2>
        <p>
            Após calcular o IMC, os valores podem ser interpretados conforme a classificação da Organização Mundial da Saúde (OMS):
        </p>
        <ul>
            <p><strong>Abaixo do peso:</strong> IMC menor que 18,5</p>
            <p><strong>Peso normal:</strong> IMC entre 18,5 e 24,9</p>
            <p><strong>Sobrepeso:</strong> IMC entre 25,0 e 29,9</p>
        </ul>

    </div>
</body>
</html>
