@page "/"

<PageTitle>Calculadora IMC</PageTitle>

<div class="container">
    <Slide Id="slide-calc">
      <h1>Calculadora IMC</h1>
    </Slide>
    <Slide Id="slide-hist">
        <h1>Histórico</h1>
    </Slide>
    <Slide Id="slide-about">
        <h1>Sobre</h1>
    </Slide>
</div>
